/******* Variables ******/
:root {
    --basic-beige: #F9F5F0;
    --basic-beige-dark: #F7F3EC;
    --basic-black: #000000;
    --basic-blue-light: #3BBCE3;
    --basic-blue-dark-extra: #405069;
    --basic-dark: #32425C;
    --basic-dark-extra: #293449;
    --basic-dark-ultra: #161D29;
    --basic-dark-ultra-100: #1D2739;
    --basic-dark-ultra-200: #212A3A;
    --basic-pink: #DC91D8;
    --basic-red: #EE3643;
    --basic-red-dark: #BA2732;
    --basic-red-dark-extra: #CA2C37;
    --basic-red-dark-ultra: #BA2732;
    --basic-red-light: #FF5357;
    --basic-gray: #B7BFC8;
    --basic-gray-light: #C5C5C5;
    --basic-gray-light-100: #C1C6CE;
    --basic-gray-light-extra: #A9A9A9;
    --basic-gray-light-extra-50: #ABABAB;
    --basic-gray-light-extra-100: #B5B5B5;
    --basic-gray-light-extra-200: #D7DCDE;
    --basic-gray-light-extra-300: #CFCFCF;
    --basic-gray-light-extra-400: #E2E2E2;
    --basic-gray-light-ultra: #EAEAEA;
    --basic-gray-light-ultra-50: #F1F1F1;
    --basic-gray-light-ultra-100: #F1F5F7;
    --basic-gray-light-ultra-150: #F2F6F8;
    --basic-gray-light-ultra-200: #F3F7F9;
    --basic-gray-light-ultra-210: #F3F7F8;
    --basic-gray-light-ultra-250: #F4F4F4;;
    --basic-gray-light-ultra-300: #E5E5E5;
    --basic-gray-dark: #3D546F;
    --basic-green: #63A63E;
    --basic-green-dark: #367315;
    --basic-green-dark-extra: #518534;
    --basic-green-dark-ultra: #444444;
    --basic-green-light: #5FBB2D;
    --basic-green-light-extra: #8ED78F;
    --basic-green-light-extra-100: #00ca74;
    --basic-yellow-light: #FFBF47;
    --basic-yellow-light-extra: #FFC047;
    --basic-yellow-light-ultra: #FFD180;
    --basic-white: #FFFFFF;
    --special-black: rgba(0, 0, 0, 0.3);
    --special-black-extra: rgba(0, 0, 0, 0.15);
    --special-black-extra-100: rgba(0, 0, 0, 0.24);
    --special-black-ultra: rgba(0, 0, 0, 0.0001);
    --special-dark: rgba(50, 66, 92, 0.5);
    --special-gray-light: rgba(197, 197, 197, 0.3);
    --special-gray-light-100: rgba(169, 169, 169, 0.3);
    --special-white:  rgba(255, 255, 255, 0.5);
    --special-white-extra:  rgba(255, 255, 255, 0.3);
}

/******* Global *******/
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    height: auto;
}

/******* General *******/
.page {
    height: 100%;
}
/* Grid */
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.page-catalog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, min-content);
    grid-template-areas:
        "breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
        "header      header      header      header"
        "filter      sort        sort        sort"
        "filter      products    products    products"
        ".           pagination  pagination  pagination";
    column-gap: 20px;
}
.container {
    width: 940px;
    padding: 0px 10px;
    margin: 0px auto;
}
.list {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.index-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    align-items: flex-start;
    margin-bottom: 70px;
}
/* Buttons */
.button {
    display: block;
    box-sizing: border-box;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-top: 11px;
    padding-bottom: 9px;
    margin: 0;
}
.button-default {
    display: block;
    padding: 0;
    border: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.button-danger {
    color: var(--basic-white);
    background-color: var(--basic-red);
}
.button-danger:hover {
    background-color: var(--basic-red-dark-extra);
}
.button-danger:active {
    background-color: var(--basic-red-dark-ultra);
}
.button-success {
    color: var(--basic-white);
    background-color: var(--basic-green);
    box-shadow: inset 0px -3px 0px var(--basic-green-dark);
    border-radius: 2px;
}
.button-success:hover {
    background-color: var(--basic-green-light);
}
.button-success:active {
    background-color: var(--basic-green-dark-extra);
}
.button-neutral {
    color: var(--basic-black);
    background-color: var(--basic-white);
}
.button-outline-success {
    color: var(--basic-dark);
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    box-sizing: border-box;
    border-radius: 2px;
}
.button-outline-success:hover {
    border-color: var(--basic-dark);
}
.button-outline-success:active {
    border-color: var(--special-dark);
    color: var(--special-dark);
}
/* Icons in the button */
.button-icon {
    color: var(--special-white-extra);
}
.button-close-modal {
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    border: none;
}
.button-close-modal:hover {
    cursor: pointer;
}
/* Marks */
.mark {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-red);
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 30px;
    padding-top: 8px;
    padding-bottom: 4px;
    top: 7.86px;
    right: -27px;
    transform: rotate(45deg);
}

/* Text headers */
.text-header {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-black);
}
.text-header-primary {
    color: var(--basic-dark);
}
/* Content text */
.nobr {
  white-space: nowrap;
}
.text-content {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
}
.text-warning {
    color: var(--basic-yellow-light-ultra);
}

/******* Main header *******/
.main-header {
    background-color: var(--basic-gray-light-ultra-210);
    padding-bottom: 60px;
}
.submenu-wrapper {
    background-color: var(--basic-dark-extra);
    color: var(--basic-white);
}
.submenu {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 42px;
}
.submenu-icon {
    opacity: 0.3;
}
.submenu-icon:hover {
    opacity: 1;
    cursor: pointer;
}
.submenu-icon:hover path{
    fill: var(--basic-white);
}
.submenu-icon:active path {
    fill: var(--special-white-extra);
}
/* Logo */
.main-logo {
    box-sizing: border-box;
    display: block;
    background-color: var(--basic-red);
    box-shadow: inset 0px -5px 0px 0px var(--special-black-extra-100);
}
.main-logo img {
    display: block;
}
.main-header-logo {
    cursor: pointer;
    width: 220px;
    min-height: 47px;
    padding: 12px 56px;
    margin-bottom: -5px;
}
.main-header-logo:active {
    background-color: var(--basic-red-dark);
}
/* Search */
.search-form {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    height: 42px;
    min-width: 270px;
}
.search-form-input-label {
    display: block;
    position: relative;
}
.search-form-input {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    padding-left: 42px;
    padding-top: 10px;
    padding-bottom: 8px;
    margin: 0;
    color: var(--basic-white);
    background-color: var(--basic-dark-extra);
    border: none;
    font: inherit;
    line-height: inherit;
}
.search-form-input:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
    outline: none;
}
.search-form-input:focus::placeholder {
    color: var(--basic-black);
}
.search-form-input::placeholder {
    color: var(--basic-white);
}
.search-form-icon {
    position: absolute;
    top: 12px;
    left: 17px;
}
.search-form-input:focus + .search-form-icon {
    opacity: 1;
}
.search-form-input:focus + .search-form-icon path {
    fill: var(--basic-red);
}
/* Bookmark */
.bookmark-button {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    text-transform: none;
    text-align: initial;
    background-color: transparent;
    width: 150px;
    min-height: 42px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 14px;
}
.bookmark-button .bookmark-icon {
    opacity: 0.3;
    margin-top: 3px;
    margin-right: 9px;
}
.bookmark-filled {
    background-color: var(--basic-red);
}
.bookmark-button:hover .bookmark-icon{
    opacity: 1;
}
.bookmark-button:hover path {
    fill: var(--basic-white);
}
.bookmark-button:active {
    color: var(--special-white);
    background-color: var(--basic-dark-ultra);
}
.bookmark-button:active path{
    fill: var(--special-white-extra);
}
/* Products actions */
.products-actions-list {
    display: flex;
    align-items: start;
    padding: 0;
    margin: 0;
}
.products-actions-item {
    display: flex;
    align-items: start;
}
/* Basket */
.basket-link {
    box-sizing: border-box;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    text-transform: none;
    text-align: initial;
    background-color: transparent;
    width: 150px;
    min-height: 42px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 26px;
    padding-right: 14px;
}
.basket-link .basket-icon {
    opacity: 0.3;
    margin-top: 3px;
    margin-right: 8px;
}
.basket-not-empty {
  background-color: var(--basic-red);
}
.basket-empty {
  background-color: transparent;
}
.basket-link:hover .basket-icon {
  opacity: 1;
}
.basket-link:hover path {
  fill: var(--basic-white);
}
.basket-link:active path {
  fill: var(--special-white-extra);
}
.basket-link:active {
    color: var(--special-white);
    background-color: transparent;
}
/* Order */
.order-link {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    text-transform: none;
    text-align: initial;
    background-color: var(--basic-green);
    width: 150px;
    min-height: 42px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 19px;
    padding-right: 16px;
}
.order-link:hover {
    background-color: var(--basic-green-light);
}
.order-link:active {
    color: var(--special-white);
}
/*** Main header main content block ***/
.main-header-main-content {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: minmax(158px, auto) minmax(60px, auto);
    column-gap: 20px;
    grid-template-areas:
        "text contacts actions"
        "nav nav nav";
}
/* Main header text */
.main-header-text {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-red);
    width: 197px;
    padding: 0;
    margin: 0;
    margin-top: 42px;
    margin-left: 30px;
    grid-area: text;
}
/* Contacts */
.main-header-contacts-wrapper {
    grid-area: contacts;
    margin-top: 46px;
    width: 270px;
    display: flex;
    flex-direction: column;

}
.contact-phone {
    font-style: inherit;
    border: 3px solid var(--basic-white);
    padding: 0;
    margin: 0;
    margin-bottom: 3px;
    box-sizing: border-box;
    min-height: 45px;
    display: flex;
    align-items: center;

}
.contact-phone::before {
    content: "";
    width: 19px;
    height: 19px;
    margin-left: 36px;
    margin-right: 16px;
    background-image: url("../img/icons/icon-phone.svg");
}
.phone-icon {
    background-color: var(--main-header-gray);
}
.contact-phone-link {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
    padding-bottom: 1px;
}
.contact-address {
    font-size: 14px;
    line-height: 24px;
    font-style: inherit;
    color: var(--basic-dark);
    padding: 0;
    margin: 0;
    margin-right: 1px;
    align-self: center;
}
/* Authentication actions */
.authentication-actions-list {
    font-size: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    margin-top: 46px;
    margin-right: -10px;
    grid-area: actions;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
}
.login-link svg {
    margin-left: 19px;
    margin-right: 6px;
}
.login-link,
.registration-link {
    box-sizing: border-box;
    background-color: var(--basic-white);
    word-break: break-all;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 121px;
    max-width: 300px;
}
.login-link {
    justify-content: flex-start;
}
.registration-link {
    padding-right: 24px;
    padding-left: 24px;
}
.login-icon {
    background-color: var(--basic-gray-light);
}
.login-link:hover .login-icon {
    background-color: var(--basic-gray-dark);
}
.login-link:hover,
.registration-link:hover {
    color: var(--basic-red);
}
.login-link:active,
.registration-link:active {
    color: var(--basic-gray-light);
}
.login-link:active .login-icon {
    background-color: var(--basic-gray-light);
}
/* Main navigation */
.main-navigation {
    background-color: var(--basic-dark);
    color: var(--basic-white);
    grid-area: nav;
    padding: 0;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0;
}
.main-navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.main-navigation-link {
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    word-break: break-all;
    display: block;
    min-width: 111px;
    max-width: 190px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 29px;
    padding-right: 27px;
}
.main-navigation-item:first-child .main-navigation-link {
    padding-left: 28px;
    padding-right: 28px;
}
.main-navigation-item:nth-child(n + 5) .main-navigation-link {
    padding-left: 30px;
    padding-right: 26px;
}
.main-navigation-link:hover {
    background-color: var(--basic-dark-extra);
    cursor: pointer;
}
.main-navigation-link:active {
    background-color: var(--basic-dark-ultra-100);
    color: var(--special-white);
}
/******* Index page main content *******/

/*** Promo block ***/
.promo {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, minmax(123px, auto));
    align-items: flex-start;
    column-gap: 20px;
    row-gap: 20px;
    margin: 59px 0px;
}
.promo-list {
    color: var(--basic-white);
    padding: 0;
    margin: 0;
    display: contents;
}
.promo-item {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 300px;
    min-height: 123px;
    display: block;
    padding-top: 21px;
}
.promo-materials {
    background-color: var(--basic-yellow-light);
    padding-bottom: 20px;
    padding-left: 23px;
    padding-right: 77px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.promo-materials::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    top: 31px;
    right: 43px;
    background-image: url("../img/icons/icon-1.svg");
}
.promo-tools {
    background-color: var(--basic-blue-light);
    padding-bottom: 20px;
    padding-left: 22px;
    padding-right: 106px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.promo-tools::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    top: 34px;
    right: 31px;
    background-image: url("../img/icons/icon-2.svg");

}
.promo-constructing {
    background-color: var(--basic-pink);
    padding-bottom: 20px;
    padding-left: 22px;
    padding-right: 109px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.promo-constructing::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    top: 31px;
    right: 31px;
    background-image: url("../img/icons/icon-3.svg");

}
.promo-discounts {
    background-color: var(--basic-green-light-extra);
    padding-top: 20px;
    padding-bottom: 23px;
    padding-left: 23px;
    padding-right: 104px;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.promo-discounts::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    top: 26px;
    right: 45px;
    background-image: url("../img/icons/icon-4.svg");

}
.promo-discounts .promo-subheader {
    margin-bottom: 12px;
}
.promo-delivery {
    background-color: var(--basic-yellow-light-extra);
    padding-top: 20px;
    padding-bottom: 22px;
    padding-left: 22px;
    padding-right: 109px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.promo-delivery::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    top: 32px;
    right: 31px;
    background-image: url("../img/icons/icon-5.svg");

}
.promo-subheader {
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 13px;
}
.promo-link {
    background-color: var(--special-white-extra);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 135px;
}
.promo-link:hover {
    background-color: var(--special-gray-light);
}
.promo-link:active {
    background-color: var(--special-gray-light-100);
}
.promo-icon {
    background-color: var(--basic-white);
}
/* Slider */
.slider {
    display: grid;
    grid-template-columns: 620px;
    grid-template-rows: 104px 81px 81px ;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}
.slider-list {
    color: var(--basic-white);
    padding: 0;
    margin: 0;
    display: contents;
}
.slider-item {
    display: grid;
    grid-template-columns: 620px;
    grid-template-rows: 104px 162px ;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.slider-item--active {
    z-index: 1;
}
.slider-item-text-wrapper {
    order: 1;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
}
.slider-subheader {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 23px;
    margin-bottom: 5px;
    margin-left: 24px;
}
.slider-item-text-wrapper p {
    padding: 0;
    margin: 0;
    margin-left: 24px;
}
.slider-list img {
    object-fit: contain;
}
.slider-content {
    background-color: var(--basic-gray);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.slider-buttons-wrapper {
    padding-top: 18px;
    padding-left: 24px;
    padding-right: 20px;
    grid-column: 1 / 2;
    grid-row: 2/ 3;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.slider-forward-button,
.slider-back-button {
    width: 22px;
    height: 40px;
}
.slider-forward-button:hover,
.slider-back-button:hover {
    opacity: 0.7;
}
.slider-forward-button:active,
.slider-back-button:active {
    opacity: 0.5;
}
.slider-footer-wrapper {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    padding-left: 24px;
    margin-bottom: 27px;

}
.slider-link {
    font-size: 14px;
    line-height: 18px;
    padding-left: 46px;
    padding-right: 46px;
    margin-right: 79px;
    width: 192px;
}
.slider-switch {
    background-color: var(--basic-white);
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    margin-bottom: 9px;
    margin-right: 10px;
}
.slider-switch--active {
    background-color: var(--basic-red);
}
/*** Popular products block ***/
.block-header-container {
    background-color: var(--basic-beige);
    padding-left: 28px;
    padding-right: 14px;
    min-height: 89px;
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.block-header-text{
    padding: 0;
    margin: 0;
    margin-top: 29px;
    margin-bottom: 30px;
    margin-right: 150px;
}
.block-header-link {
    margin-top: 25px;
    min-width: 192px;
}
/* Product card */
.product-card {
    box-sizing: border-box;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-gray-light-ultra);
    width: 220px;
    min-height: 318px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.product-card:hover {
    filter: drop-shadow(0px 4px 20px var(--special-black-extra));
}
.product-card:hover .product-card-image,
.product-card-image-container:focus-within .product-card-image {
    z-index: -1;
    opacity: 0;
}
.product-card:hover .product-actions-list,
.product-card-image-container:focus-within .product-actions-list {
    z-index: 0;
}
.product-card-image-container {
    position: relative;
    height: 170px;
    align-self: stretch;
    margin-bottom: 9px;
}
.product-card-image {
    background-color: var(--basic-gray);
    max-width: 100%;
    max-height: 100%;
}
.product-card img {
    object-fit: contain;
}
.product-card-name {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: var(--basic-black);
    text-align: center;
    margin-bottom: 8px;
    width: 165px;
}
.product-card-old-price {
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--basic-gray-light-extra);
    background-image: repeating-linear-gradient(to bottom,
        var(--basic-white) 0px,
        var(--basic-white) 11px,
        var(--basic-gray-light-extra) 11px,
        var(--basic-gray-light-extra) 12px,
        var(--basic-white) 12px,
        var(--basic-white) 18px);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px;
}
.product-card-price {
    font-family: inherit;
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    background-color: var(--basic-red);
    background-image:
        linear-gradient(225deg, var(--basic-white) 10.612%, transparent 10.612%),
        linear-gradient(315deg, var(--basic-white) 10.612%, transparent 10.612%);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 141px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 40px;
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 44px;
    margin-right: 35px;
    align-self: flex-start;
}
.product-actions-list {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 37px;
    margin-bottom: 55px;
    margin-left: 40px;
}
.product-actions-item:not(:last-child) {
    margin-bottom: 10px;
}
.product-actions-item a {
    border-radius: 2px;
    width: 135px;
}
.product-actions-buy {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: left;
    position: relative;
    padding: 10px 20px 10px 53px;
}

.product-actions-buy::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/icon-cart.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.3;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 30px;
}
.product-actions-bookmark {
    padding-top: 7px;
    padding-bottom: 7px;
}
.card-bfg9000 .product-card-image {
    margin-top: 5px;
    margin-left: 16px;
    margin-right: 18px;
}
.card-bfg9000 .product-card-price {
    margin-left: 46px;
    margin-right: 33px;
}
.card-bfg3000 .product-card-image {
    margin-top: 28px;
    margin-left: 38px;
    margin-right: 53px;
    margin-bottom: 30px;
}
.card-bfg6000 .product-card-image {
    margin-top: 21px;
    margin-left: 30px;
    margin-right: 42px;
    margin-bottom: 20px;
}
.card-bfg2000 .product-card-image {
    margin-top: 28px;
    margin-left: 38px;
    margin-right: 53px;
    margin-bottom: 31px;
}
.card-bfg9000 .product-card-name {
    margin-bottom: 6.86px;
}
.card-bfg3000 .product-card-name {
    margin-bottom: 7.86px;
    margin-right: 3px;
}
.card-bfg2000 .product-card-name {
    margin-right: 5px;
}
/****** Popular brands ******/
.brands .block-header-container {
    padding-right: 19px;
}
.brands-list {
    display: contents;
    padding: 0;
    margin: 0;
}
.brands-link {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-gray-light-ultra);
    box-sizing: border-box;
    width: 220px;
    height: 145px;
}
.brands-link:hover {
    filter: drop-shadow(0px 4px 20px var(--special-black-extra));
}
.brands-link:active {
    opacity: 0.5;
}
.brands-link img {
    object-fit: contain;
}
.brands-makita img {
    margin-top: 50px;
    margin-bottom: 55px;
    margin-left: 47px;
    margin-right: 50px;
}
.brands-dewalt img {
    margin-top: 48px;
    margin-bottom: 53px;
}
.brands-iterskol img {
    margin-top: 34px;
    margin-bottom: 35px;
    margin-left: 8px;
    margin-right: 12px;
}
.brands-hitachi img {
    margin-top: 58px;
    margin-bottom: 56px;
    margin-left: 27px;
    margin-right: 24px;
}
.brands-lg img {
    margin-top: 35px;
    margin-bottom: 37px;
    margin-left: 47px;
    margin-right: 52px;
}
.brands-aeg img {
    margin-top: 23px;
    margin-bottom: 24px;
    margin-left: 33px;
    margin-right: 32px;
}
.brands-metabo img {
    margin-top: 34px;
    margin-bottom: 38px;
    margin-left: 7px;
    margin-right: 7px;
}
/****** Services ******/
.services-wrapper {
    background-color: var(--basic-gray-light-ultra-100);
    margin-bottom: 71px;
}
.services {
    box-sizing: border-box;
    min-height: 522px;
    padding-top: 65px;
    padding-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    column-gap: 20px;
}
.services p {
    padding: 0;
    margin: 0;
}
.services-header {
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}
.services-subheader {
    padding: 0;
    margin: 0;
}
.services > p {
    width: 396px;
    margin-bottom: 70px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
}
.services-menu {
    position: relative;
    padding: 0;
    margin: 0;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: start;
}
.services-menu:after {
    content: "";
    position: absolute;
    background-image: url("../img/services-vertical-shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    width: 10px;
    height: 279px;
    top: -49px;
    right: 0px;
}
.services-delivery,
.services-guarantee,
.services-credit {
    background-color: var(--basic-gray-light-ultra-100);
    position: relative;
    grid-column: 2 / -1;
    grid-row: 3 / 4;
}
.services-menu-button {
    box-sizing: border-box;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-white);
    text-align: left;
    background-color: var(--basic-dark);
    border: none;
    box-shadow: 0px 1px 0px var(--basic-dark-extra), inset 0px 1px 0px var(--basic-blue-dark-extra);
    display: block;
    width: 240px;
    min-height: 61px;
    padding-top: 13.5px;
    padding-left: 22px;
    padding-bottom: 17.5px;
    margin-bottom: 1px;
}
.services-menu-active {
    color: var(--basic-dark);
    background-color: var(--basic-white);
    box-shadow: 0px 1px 0px var(--basic-white);
}
.services-menu-button:not(.services-menu-active):hover {
    background-color: var(--basic-dark-extra);
    cursor: pointer;
}
.services-item:not(.services-item-active) {
    z-index: -1;
    opacity: 0;
}
.services-item:focus-within {
    z-index: 10;
    opacity: 1;
}
.services-delivery {
    background-image: url("../img/services-delivery-background.png");
    background-position: right 1px top 19px;
    background-repeat: no-repeat;
}
.services-delivery .services-subheader {
    position: relative;
    top: -3px;
    margin-bottom: 27px;
}
.services-delivery p {
    width: 275px;
}
.services-guarantee {
    position: relative;
}
.services-guarantee::after {
    content: "";
    position: absolute;
    background-image: url("../img/services-guarantee-background.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 389px;
    height: 283px;
    top: -4px;
    right: -8px;

}
.services-guarantee  .services-subheader{
    position: relative;
    top: -2px;
    margin-bottom: 22px;
}
.services-guarantee p {
    width: 331px;
}
.services-credit {
    position: relative;
}
.services-credit::after {
    content: "";
    position: absolute;
    background-image: url("../img/services-credit-background.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 465px;
    height: 285px;
    top: -3px;
    right: -10px;

}
.services-credit .services-subheader {
    position: relative;
    top: -2px;
    margin-bottom: 27px;
}
.services-credit p {
    width: 280px;
    margin-bottom: 26px;
}
.services-credit a {
    background-color: var(--basic-red-light);
    color: var(--basic-white);
    border-radius: 3px;
    width: 195px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/****** Contacts  ******/
.about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}
.about-company {
    width: 460px;
}
.about-company-header {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}
.about-company p {
    padding: 0;
    margin: 0;
}
.about-company p:first-of-type {
    margin-bottom: 26px;
}
.about-company p:last-of-type {
    width: 390px;
    margin-bottom: 2px;
}
.about-company-list {
    padding: 0;
    margin: 0;
    margin-bottom: 19px;
}
.about-company-list li:not(:last-child) {
    margin-bottom: 12px;
}
.about-company-list li {
    position: relative;
    padding-left: 37px;
}
.about-company-list li:before {
    content: "";
    position: absolute;
    background-color: var(--basic-red);
    width: 25px;
    height: 2px;
    top: 13px;
    left: 0px;
}
.about-company-list li:nth-child(2):before {
    top: 11px;
}
.about-company-list li:nth-child(3):before {
    top: 9px;
}
.about-company .button {
    width: 220px;
}
.contacts {
    width: 300px;
}
.contacts p {
    padding: 0;
    margin: 0;
}
.contacts-header {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}
.contacts p:first-of-type {
    width: 180px;
    margin-bottom: 32px;
}
.contacts-map {
    background-color: var(--special-black-ultra);
    width: 300px;
    height: 158px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 25px;
}
.contacts-map img {
    object-fit: contain;
    width: 300px;
    height: 158px;
}
.contacts .button {
    width: 300px;
}

/****** Main footer ******/
.main-footer {
    color: var(--basic-gray-light-ultra-200);
    background-color: var(--basic-dark);
}
.main-footer-secondary-wrapper {
    background-color: var(--basic-dark-extra);
}
.main-footer-primary-content {
    min-height: 193px;
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows: minmax(67px, auto) min-content;
    grid-template-areas:
        "logo     links"
        "contacts links";
    align-content: start;
}
.main-footer-logo {
    cursor: pointer;
    padding: 19px 41px 25px;
    width: 220px;
    min-height: 67px;
    background-color: var(--basic-red);
    grid-area: logo;
}
.main-footer-logo:active {
    background-color: var(--basic-red-dark);
}
.main-footer-nav-list {
    color: var(--basic-gray-light-ultra-100);
    padding: 0;
    margin: 0;
    margin-top: 38px;
    grid-area: links;
    align-self: start;
    justify-self: end;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}
.main-footer-nav-list li {
    margin-bottom: 34px;
    margin-right: 58px;
}
.main-footer-nav-list li:first-child {
    margin-left: 12px;
}
.main-footer-nav-list li:nth-child(3) {
    margin-right: 60px;
}
.main-footer-nav-list li:nth-child(4) {
    margin-right: 56px;
}
.main-footer-nav-list li:nth-child(5) {
    margin-right: 0;
}
.main-footer-nav-list li:nth-child(6) {
    margin-left: 22px;
}
.main-footer-nav-list li:nth-child(7) {
    margin-right: 60px;
}
.main-footer-nav-list li:nth-child(8) {
    margin-right: 57px;
}
.main-footer-nav-list li:nth-child(9) {
    margin-right: 0;
}
.main-footer-nav-list li:nth-last-child(-n + 4) {
    color: var(--basic-yellow-light-ultra);
}
.main-footer-nav-list a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.main-footer-nav-list a:active {
    text-decoration: none;
    opacity: 0.5;
}
.main-footer-contacts-wrapper {
    grid-area: contacts;
    margin-top: 23px;
    margin-left: 3px;
}
.main-footer-address {
    font-style: normal;
    margin-bottom: 1px;
}
.main-footer-secondary-content {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    min-height: 107px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.main-footer-copyright {
    width: 227px;
    padding: 0;
    margin: 0;
    margin-left: 1px;
    margin-top: 36px;
    margin-bottom: 34px;
    margin-right: 161px;
}
.main-footer-socials {
    margin-top: 33px;
    margin-bottom: 25px;
    margin-right: 117px;
}
.main-footer-socials-list {
    width: 135px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main-footer-socials-link {
    margin-right: 1px;
}
.main-footer-socials-link:hover path:first-child {
    fill: var(--basic-red);
}
.main-footer-socials-link:active path:first-child {
    fill: var(--basic-red);
}
.main-footer-feedback {
    width: 137px;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 51px;
}
.main-footer-developed-by {
    width: 98px;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;
}
.main-footer-feedback a:hover,
.main-footer-developed-by a:hover {
    text-decoration: underline;
}
.main-footer-feedback a:active,
.main-footer-developed-by a:active {
    color: var(--basic-red);
    text-decoration: none;
}
.main-footer-copyright small,
.main-footer-developed-by small{
    font-size: 16px;
    line-height: 18px;
}

/***** Modal ******/
@keyframes bounce {
    0%   {transform: translate(500%, -50%);}
    50%  {transform: translate(-60%, -50%);}
    75%  {transform: translate(-40%, -50%);}
    100% {transform: translate(-50%, -50%);}
}
@keyframes shake {
    0%, 100% {transform: translate(-50%, -50%);}
    20%, 40%, 60%, 80% {transform: translate(-51%, -50%);}
    10%, 30%, 50%, 70%, 90% {transform: translate(-49%, -50%);}
}

.modal {
    filter: drop-shadow(0px 4px 20px var(--special-black-extra));
    background-color: var(--basic-white);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.modal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7px;
    background-color: var(--basic-red);
    z-index: 1000;
}
.modal-show {
    display: block;
}

/* Write us modal */
.write-us-modal {
    width: 620px;
}
.write-us-modal.modal-show {
    animation-name: bounce;
    animation-duration: 1s;
}
.write-us-modal.modal-error {
    animation-name: shake;
    animation-duration: 0.7s;
}
.write-us-modal-form {
    margin-top: 46px;
}
.write-us-modal-container {
    width: 460px;
    margin: 0 auto;
}
.write-us-modal input,
.write-us-modal textarea {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-gray-light-extra);
    padding: 7px 11px;
    margin: 0;
    border: 2px solid var(--basic-gray-light);
    box-sizing: border-box;
    border-radius: 2px;
}
.write-us-modal .button-close-modal {
    top: 21px;
    right: 11px;
}
.write-us-modal-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 37px;
}
.write-us-modal-item {
    padding: 0;
    margin: 0;
}
.write-us-modal-item:not(:last-of-type) {
    margin-bottom: 13px;
}
.write-us-modal-item label {
    display: block;
    margin-bottom: 11px;
}
.write-us-modal-item input[type="text"],
.write-us-modal-item input[type="email"] {
    width: 100%;
    height: 38px;
}
.write-us-modal-item:nth-of-type(1),
.write-us-modal-item:nth-of-type(2) {
    width:  220px;
}
.write-us-modal-item:last-of-type {
    flex-grow: 1;
    flex-basis: 460px;
}
.write-us-modal-item textarea {
    display: block;
    width: 100%;
    height: 114px;
}
.write-us-modal-footer-wrapper {
    background-color: var(--basic-gray-light-ultra-250);
}
.write-us-modal-footer-wrapper .write-us-modal-container {
    min-height: 112px;
    display: flex;
    align-items: center;
}
.write-us-modal-submit {
    width: 100%;
}
/* Map modal */
.map-modal {
    width: 943px;
    height: 449px;
}
.map-modal iframe {
    border: none;
}
.map-modal .button-close-modal {
    top: 17px;
    right: 10px;
}
/****** Catalog page ******/

/*** Main Header ****/
.logged-in-actions-list {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-dark);
    background-color: var(--special-black-ultra);
    padding: 0;
    margin: 0;
    margin-top: 46px;
    margin-bottom: 42px;
    margin-left: 1px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.logged-in-actions-item {
    position: relative;
}
.logged-in-actions-item:first-child,
.logged-in-actions-item:nth-child(2) {
    background-color: var(--basic-white);
}
.logged-in-actions-item:first-child {
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 20px;
    margin-bottom: 7px;
    margin-right: 0;
}
.user-profile-link {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    width: 227px;
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.user-profile-link .user-icon {
    width: 20px;
    margin-top: 1px;
    margin-bottom: 2px;
    margin-right: 21px;
}
.user-profile-link .user-name {
    width: 186px;
}
.logged-in-actions-item:nth-child(2) {
    padding-top: 14px;
    margin-bottom: 7px;
}
.logout-link {
    margin-right: 17px;
    margin-bottom: 14px;
}
.logged-in-actions-item:nth-child(2n + 3) {
  box-sizing: border-box;
  width: 50.5%;
  padding-right: 32px;
}
.logged-in-actions-item:nth-child(2n + 4) {
  box-sizing: border-box;
  width: 49.5%;
}
.logged-in-actions-item:nth-child(n + 3) a {
  display: block;
}
.logged-in-actions-item:nth-child(2n + 3) a {
  text-align: right;
  width: 119px;
}
/* Show dot after every odd list item. Skip first 2 list items.
Do not show dot after last list item. */
.logged-in-actions-item:nth-child(2n + 3):not(:last-child)::before{
    content: "";
    background-color: var(--basic-dark);
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    top: 7px;
    right: 13px;
}
.user-profile-link:hover path,
.logout-link:hover path {
    fill: var(--basic-gray-dark);
}
.user-orders-link:hover,
.personal-account-link:hover {
    color: var(--basic-red);
}
.user-profile-link:active path,
.logout-link:active path {
    fill: var(--basic-gray-light);
}
.user-profile-link:active,
.user-orders-link:active,
.personal-account-link:active {
    color: var(--basic-gray-light);
}

/****** Catalog page main content ******/
.catalog-page .main-header {
    margin-bottom: 21px;
}
.product-filter,
.product-sorting,
.products-pagination,
.product-filter-header,
.product-sorting-header {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-black);
}
/*** Breadcrumbs ***/
.breadcrumbs-list {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    grid-area: breadcrumbs;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.breadcrumbs-list-item {
    margin-bottom: 5px;
    margin-right: 18px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.breadcrumbs-list-item a {
    max-width: 100px;
    margin-right: 15px;
    display: flex;
    align-items: flex-start;
}
.breadcrumbs-list-item:not(:last-child)::after {
    content: "";
    width: 8px;
    height: 12px;
    background-image: url("../img/icons/icon-right-small.svg");
    background-repeat: no-repeat;
    margin-top: 3px;
}
.breadcrumbs-list-item:first-child a {
  background-color: var(--basic-gray-light-100);
  background-image: url("../img/icons/icon-home.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 14px;
  height: 12px;
  margin-top: 3px;
}
.breadcrumbs-list-item:nth-child(2) a {
    margin-right: 17px;
}
.breadcrumbs-list-item:nth-child(2) a {
    margin-right: 17px;
}
.breadcrumbs-list-item:nth-child(3) a {
    margin-right: 18px;
}
.breadcrumbs-list-item:first-child {
    margin-right: 18px;
}
.breadcrumbs-list-item:nth-child(2) {
    margin-right: 16px;
}
.breadcrumbs-list-item:nth-child(3) {
    margin-right: 17px;
}
/*** Catalog page main content header ***/
.main-content-header {
    background-color: var(--basic-gray-light-ultra-150);
    padding: 0;
    padding-top: 29px;
    padding-bottom: 30px;
    padding-left: 29px;
    margin: 0;
    margin-bottom: 20px;
    grid-area: header;
}

/*** Catalog page product filter form ***/
.product-filter {
    grid-area: filter;
}
.product-filter-header,
.price-range-container,
.start-price,
.end-price,
.product-sorting {
    background-color: var(--basic-beige-dark);
    border-radius: 3px;
}
.product-filter-header {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    margin: 0;
    margin-bottom: 13px;

}
.form-label {
    font-size: 15px;
    line-height: 19px;
}
.product-filter-subheader {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.form-fieldset {
    padding: 0;
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--special-black-ultra);
}
/* Show/Hide images based on checked status of the input tag*/
.checkbox:checked ~ .checkbox-image--unchecked,
.radio-button:checked ~ .radio-button-image--unchecked {
    display: none;
}
.checkbox:checked ~ .checkbox-image--checked,
.radio-button:checked ~ .radio-button-image--checked {
    display: block;
}
.checkbox:not(:checked) ~ .checkbox-image--unchecked,
.radio-button:not(:checked) ~ .radio-button-image--unchecked {
    display: block;
}
.checkbox:not(:checked) ~ .checkbox-image--checked,
.radio-button:not(:checked) ~ .radio-button-image--checked {
    display: none;
}
.form-label:hover {
    cursor: pointer;
}
.form-label:hover .checkbox:disabled ~ *,
.form-label:hover .radio-button:disabled ~ * {
    cursor: default;
}
.checkbox:focus ~ svg path,
.radio-button:focus ~ svg path,
.form-label:hover path {
    fill: var(--basic-gray-light-extra-100);
}
.form-label:active .checkbox-image,
.form-label:active .radio-button-image {
    opacity: 0.3;
}
.form-label:active span {
    opacity: 0.4;
}
.checkbox:disabled ~ svg,
.radio-button:disabled ~ svg {
    opacity: 0.3;
}
.checkbox:disabled ~ svg path,
.radio-button:disabled ~ svg path {
    fill: var(--basic-gray-light);
}
.checkbox:disabled ~ span,
.radio-button:disabled ~ span {
    opacity: 0.4;
}
/* Price filter fieldset */
.price-filter-fieldset {
    padding-bottom: 25px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--basic-gray-light-extra-400);
}
.price-filter-fieldset .product-filter-subheader {
    margin-bottom: 12px;
}
.price-range-container {
    height: 80px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.price-range-scale {
    background-color: var(--basic-gray-light-extra-200);
    width: 180px;
    height: 2px;
    position: relative;
}
.price-range-scale .filled-bar{
    background-color: var(--basic-green-light-extra-100);
    height: 100%;
    width: 100%;
}
.price-range-scale .handle {
    background-color: var(--basic-gray-light-extra-50);
    cursor: pointer;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 1.5px 1px 0 var(--basic-gray-light-extra-300);
    transform: translate(-50%, -50%);
}
.price-output-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.price-output-wrapper::before {
    content: "\2014";
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-green-dark-ultra);
    align-self: center;
    order: 2;
}
.start-price,
.end-price {
    box-sizing: border-box;
    border: none;
    display: block;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    width: 95px;
    height: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
}
.start-price {
    order: 1;
}
.end-price {
    order: 3;
}
/*Brands filter fieldset */
.brands-filter-fieldset {
    padding-bottom: 26px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--basic-gray-light-extra-400);
}
.brands-filter-fieldset .product-filter-subheader {
    margin-bottom: 15px;
}
.brands-filter-fieldset .form-label {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.brands-filter-fieldset .form-label:not(:last-of-type) {
    margin-bottom: 16px;
}
.brands-filter-fieldset .form-item-text {
    width: 185px;
    align-self: center;
}
.brands-filter-fieldset .checkbox:not(:checked) ~ .form-item-text {
    padding-left: 12px;
}
.brands-filter-fieldset .checkbox:checked ~ .form-item-text {
    padding-left: 8px;
}
/* Power filter fieldset*/
.power-filter-fieldset .product-filter-subheader {
    margin-bottom: 20.85px;
}
.power-filter-fieldset .form-label {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.power-filter-fieldset .form-label:last-of-type {
    margin-bottom: 33px;
}
.power-filter-fieldset .radio-button-image ~ .form-item-text {
    padding-left: 10px;
}
.power-filter-fieldset .form-item-text {
    width: 185px;
    align-self: center;
}
.product-filter-submit-button {
    font: inherit;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-gray-light-ultra-300);
    box-sizing: border-box;
    width: 100%;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-filter-submit-button:hover {
    cursor: pointer;
}

/*** Product sorting block ***/
.product-sorting {
    min-height: 38px;
    padding-left: 20px;
    margin-bottom: 28px;
    grid-area: sort;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.product-sorting-header {
    width: 185px;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 36px;
}
.product-sorting-list {
    padding: 0;
    margin: 0;
}
.product-sorting-column2,
.product-sorting-column3 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.product-sorting-column2 {
    width: 400px;
    padding-top: 9px;
}
.product-sorting-column3 {
    width: 59px;
    padding-top: 14px;
}
.product-sorting-item {
    width: 73px;
    margin-top: 1px;
    margin-bottom: 8px;
    margin-right: 45px;
}
.price-sorting-item {
    margin-right: 50px;
}
.functioning-sorting-item {
    width: 114px;
    margin-top: 0px;
    margin-bottom: 9px;
}
.product-sorting-button {
    font: inherit;
    text-transform: uppercase;
    border: none;
    color: var(--special-black);
    background-color: transparent;
    padding: 0;
    padding-bottom: 2px;
    margin: 0;
    text-align: left;
}
.product-sorting-button:not(.product-sorting-button--active) {
    background-image: repeating-linear-gradient(to right, var(--basic-red) 0px, var(--basic-red) 1px, var(--basic-white) 1px, var(--basic-white) 2px);
    background-size: 100% 1px;
    background-repeat: repeat-x;
    background-position: bottom;
}
.product-sorting-button:hover {
    color: var(--basic-black);
    cursor: pointer;
    background-image: linear-gradient(var(--basic-red), var(--basic-red));
    background-size: 100% 1px;
    background-repeat: repeat-x;
    background-position: bottom;
}
.product-sorting-button:active {
    color: var(--basic-red);
    background-image: none;
}
.product-sorting-button--active {
    color: var(--basic-red);
}
.product-sorting-direction-button {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    margin-bottom: 14px;
    margin-right: 15px;
}
.product-sorting-ascending-icon:hover path,
.product-sorting-descending-icon:hover path {
    fill: var(--basic-black);
    cursor: pointer;
}
.product-sorting-ascending-icon:active path,
.product-sorting-descending-icon:active path {
    fill: var(--basic-red);
}
.ascending-sorting-button {
  margin-right: 21px;
}
/*** Products chosen block ***/
.chosen-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 18px;
    grid-area: products;
    margin-bottom: 48px;

}
/*** Product pagination ***/
.products-pagination {
    grid-area: pagination;
    margin-bottom: 49px;
    margin-right: -10px;
}
.pagination-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.pagination-list li {
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
    max-width: 200px;
}
.pagination-button {
    box-sizing: border-box;
    background-color: var(--basic-white);
    border: 1px solid var(--basic-gray-light-ultra-300);
    border-radius: 2px;
    min-width: 38px;
    min-height: 38px;
    padding: 9px 14px;
    display: flex;
    align-items: center;
    text-align: center;
}
.pagination-button:hover {
    border: 1px solid var(--basic-gray-light);
}
.pagination-button:active {
    border: 1px solid var(--basic-red);
}
.pagination-button.pagination-button-active {
    color: var(--basic-white);
    background-color: var(--basic-red);
    padding: 10px 15px;
    border: none;
}
.pagination-list-item:last-child .pagination-button {
    padding-left: 31px;
    padding-right: 30px;
}

/*** Product description ***/
.product-description-wrapper {
    background-color: var(--basic-gray-light-ultra-100);

}
.product-description h2 {
    padding: 0;
    padding-top: 64px;
    margin: 0;
    margin-bottom: 25px;
}
.product-description p {
    width: 907px;
    padding: 0;
    padding-bottom: 68px;
    margin: 0;
}

/*** Catalog page Add product to the basket modal */
.to-basket-modal {
    background-color: var(--basic-white);
    width: 620px;
}
.to-basket-modal .button-close-modal {
    top: 18px;
    right: 11px;
}
.to-basket-modal-content {
    box-sizing: content-box;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    position: relative;
    width: 350px;
    padding: 0;
    padding-left: 95px;
    margin: 0;
    margin-top: 73px;
    margin-bottom: 67.43px;
    margin-left: 81px;
}
.to-basket-modal-content::before {
    content: "";
    position: absolute;
    left: 0;
    top: -18px;
    width: 66px;
    height: 66px;
    background-image: url("../img/icons/icon-mark.svg");
}
.to-basket-modal-footer {
    background-color: var(--basic-gray-light-ultra-50);
    min-height: 112px;
    padding-left: 114px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.to-basket-modal-footer button {
    width: 192px;
    margin-right: 10px;
}
