/******* Variables ******/
:root {

    --basic-black: #000000;
    --basic-blue-light: #3BBCE3;
    --basic-dark: #32425C;
    --basic-dark-extra: #293449;
    --basic-dark-ultra: #161D29;
    --basic-dark-ultra-100: #1D2739;
    --basic-pink: #DC91D8;
    --basic-red: #EE3643;
    --basic-red-dark: #BA2732;
    --basic-red-dark-extra: #CA2C37;
    --basic-red-dark-ultra: #BA2732;
    --basic-gray: #B7BFC8;
    --basic-gray-light: #C5C5C5;
    --basic-gray-dark: #3D546F;
    --basic-green: #63A63E;
    --basic-green-light: #5FBB2D;
    --basic-green-light-extra: #8ED78F;
    --basic-yellow-light: #FFBF47;
    --basic-yellow-light-extra: #FFC047;
    --basic-white: #FFFFFF;
    --special-black-ultra: rgba(0, 0, 0, 0.0001);
    --special-gray-light: rgba(197, 197, 197, 0.3);
    --special-gray-light-100: rgba(169, 169, 169, 0.3);
    --special-white:  rgba(255, 255, 255, 0.5);
    --special-white-extra:  rgba(255, 255, 255, 0.3);

    
}

/******* Global *******/
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}

/******* General *******/
.list {
    list-style: none;
}
.link {
    color: inherit;
    text-decoration: none;
}
.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-red);
    border: none;
}

.button:focus {
    outline: none;
}

/******* Main header *******/
.main-header {
    background-color: var(--special-black-ultra);
}
.submenu {
    background-color: var(--basic-dark-extra);
    color: var(--basic-white);
}
.submenu-icon {
    background-color: var(--special-white-extra);
}
.submenu-icon:focus {
    outline: none;
}
.submenu-icon:hover {
    background-color: var(--basic-white);
    cursor: pointer;
}
.submenu-icon:active {
    background-color: var(--special-white-extra);
}
/* Logo */
.main-header-logo {
    background-color: var(--basic-red);
}
.main-header-logo:active {
    background-color: var(--basic-red-dark);
}
/* Search */
.search-form-input {
    background-color: var(--basic-dark-extra);
    border: none;
    font: inherit;
}
.search-form-input:focus {
    background-color: var(--basic-white);
    outline: none;
}
.search-form-input::placeholder {
    color: var(--basic-white);
}
/* Bookmark */
.bookmark-button {
    text-transform: none;
    background-color: transparent;
}
.bookmark-button:active {
    color: var(--special-white);
    background-color: var(--basic-dark-ultra);
}
/* Products actions */
.basket-link:active {
    color: var(--special-white);
}
.order-link {
    background-color: var(--basic-green);
}
.order-link:hover {
    background-color: var(--basic-green-light);
}
.order-link:active {
    color: var(--special-white);
}
/* Main header text */
.main-header-text {
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}
/* Contacts */
.contact-phone {
    font-style: inherit;
    border: 3px solid var(--basic-white);
}
.phone-icon {
    background-color: var(--main-header-gray);
}
.contact-phone-link {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-red);
}
.contact-address {
    font-size: 14px;
    line-height: 24px;
    font-style: inherit;
    color: var(--basic-dark);
}
/* Authentication actions */
.authentication-actions-list {
    font-size: 21px;
    line-height: 21px;
}
.login-link {
    background-color: var(--special-black-ultra)
}
.login-icon {
    background-color: var(--basic-gray-light);
}
.login-link:hover .login-icon {
    background-color: var(--basic-gray-dark);
}
.login-link:hover,
.registration-link:hover {
    color: var(--basic-red);
}
.login-link:active,
.registration-link:active {
    color: var(--basic-gray-light);
}
.login-link:active .login-icon {
    background-color: var(--basic-gray-light);
}
/* Main navigation */
.main-navigation {
    background-color: var(--basic-dark);
    color: var(--basic-white);
}
.main-navigation-link:hover {
    background-color: var(--basic-dark-extra);
}
.main-navigation-link:active {
    background-color: var(--basic-dark-ultra-100);
    color: var(--special-white);
}

/******* Index page main content *******/

/* Promo block */
.promo-list {
    list-style: none;
    color: var(--basic-white);
}
.promo-materials {
    background-color: var(--basic-yellow-light);
}
.promo-tools {
    background-color: var(--basic-blue-light);
}
.promo-constructing {
    background-color: var(--basic-pink);
}
.promo-discounts {
    background-color: var(--basic-green-light-extra);
}
.promo-delivery {
    background-color: var(--basic-yellow-light-extra);
}
.promo-subheader {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
.promo-link {
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--special-white-extra);
}
.promo-link:hover {
    background-color: var(--special-gray-light);
}
.promo-link:active {
    background-color: var(--special-gray-light-100);
}
.promo-icon {
    background-color: var(--basic-white);
}
.promo-newmark {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-red);
}
/* Slider */
.slider-list {
    color: var(--basic-white);
    list-style: none;
}
.slider-subheader {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.slider-content {
    background-color: var(--basic-gray);
}
.slider-link:hover {
    background-color: var(--basic-red-dark-extra);
}
.slider-link:active {
    background-color: var(--basic-red-dark-ultra);
}